/*tablet*/
@media screen and (min-width:992px){
    .show-menu .container{
        width:970px;
        padding:0;
    }
}
@media screen and (max-width: 786px) {
    .header-top .container {
        max-width: 100%;
    }

    .header-top .icons {
        max-width: 50%;
    }

        .header-top .icons .item-icon {
            max-width: 50%;
        }

            .header-top .icons .item-icon a img {
                max-width: 50%;
                padding-left: 0;
            }

        .header-top .icons .hot-line {
            max-width: 50%;
        }

            .header-top .icons .hot-line p {
                font-size: 10pt;
                font-weight: bold;
            }

    .header-top .container .logo img {
        width: 100%;
    }
    /*menu*/
    .header-menu{
        display:block;
        height:50px;
        border-bottom:2pt solid gray;
    }
        .header-menu #hot-line-copy{
            display:block;
            float:left;
            padding:10px;
        }
        .header-menu button{
            border:1pt solid gray;
        }
        .header-menu button .icon-bar {
            background-color: gray;
        }
    .menu {
        display:none;
    }

        .menu .navbar .container .nav {
            padding: 0;
        }
        .menu .nav li a {
            border-bottom: 2px solid transparent;
            
            font-weight: bold;
            font-size: 9pt;
            text-transform: uppercase;
            color: #666666;
            text-decoration: none;
        }
        .menu.responsive {
            position: relative;
            height: auto;
            font-family: ModernHBold;
        }

            /*.menu.responsive .navbar button .icon-bar {
            position: absolute;
            right: 0;
            top: 0;
            background-color:gray;
        }*/

            .menu.responsive .navbar .container ul .clearfix:before, .clearfix:after {
                content: "";
                display: table;
            }

            .menu.responsive .navbar .container ul .clearfix:after {
                clear: both;
            }

            .menu.responsive .navbar .container ul .clearfix {
                *zoom: 1;
            }

            .menu.responsive .navbar .container ul li {
                display: block;
                float: none;
                width: 100%;
                border-bottom: solid 1px #eee;
            }

                .menu.responsive .navbar .container ul li a {
                    float: none;
                    width: 100%;
                    display: block;
                    text-align: left;
                    font-size: 10pt;
                    font-weight: bold;
                    font-family: -webkit-body;
                    text-transform: inherit;
                }


        .menu .nav .open .dropdown-menu {
            padding-top: 10px;
            border: 0;
            float: none;
            width: auto;
            margin-top: 0;
            position: static;
            box-shadow: none;
            background-color: transparent;
        }

            .menu .nav .open .dropdown-menu li {
                background-color:;
                float: none;
            }

                .menu .nav .open .dropdown-menu li a {
                    text-transform: inherit;
                    font-size: 13pt;
                    font-weight: 400;
                }
    /*.menu.responsive{
        display:none;
    }*/
    /*slider banner*/
    .slider {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .carousel-inner .item {
        height: 200px;
    }

    .note-slider {
        display: none;
    }

    .carousel-inner .item img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 10%;
    }

    .slider .note-slider {
        text-align: left;
        height: auto;
    }

    .slider .img-slider img {
        max-width: 100%;
        max-height: 100%;
        padding-top: 50px;
    }

    .slider a {
        position: absolute;
        top: 40%;
        margin-top: -16px;
        outline: 0;
        width: 45px;
        height: 70px;
        text-indent: -9999px;
        z-index: 2;
    }

    #mySlider .controls {
        display: none;
    }

    .note-slider .btn-detail {
        background-color: blue;
        font-size: 14pt;
        text-align: center;
        cursor: pointer;
    }

    .note-slider .detail {
        max-width: 1em;
        color: black;
        font-size: 14pt
    }

    #mySlider a img {
        height: auto;
        position: absolute;
        top: 0
    }
    /*group product slider*/
    .slider_products{
        width:75%;
        margin:auto;
    }
    .slider_products .controls a {
        position: absolute;
        outline: 0;
        text-indent: -9999px;
        z-index: 2;
    }

    .slider_products, #sliderProducts {
        max-width: 70%;
        margin: auto;
    }

        .slider_products .carousel-inner {
            max-height: 150px;
            
        }

            .slider_products .carousel-inner .item {
                max-height: 145px;
            }

                .slider_products .carousel-inner .item .item_pro {
                    float: left;
                    padding: 0px 1px;
                }

                    .slider_products .carousel-inner .item .item_pro a {
                        text-decoration: none;
                        font-size: 14pt;
                        color: #949494;
                        text-align: center;
                    }
                    .slider_products .carousel-inner .item .item_pro a img{
                        height:57px;
                    }
                        .slider_products .carousel-inner .item .item_pro a span {
                            text-align: center;
                        }

        .slider_products .controls a.left {
            left: -90px;
            background: url(../img/pr-pre.png) no-repeat top left;
        }

        .slider_products .controls a.right {
            right: -90px;
            background: url(../img/pr-next.png) no-repeat top left;
        }
        .slider_products .carousel-inner .item .item_pro a .slogan{
            
        }
        /*news div*/
    .news {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .config_gr {
        width: 100%;
        text-align: -webkit-center;
    }
        /*config item*/
        .config_gr .config {
            /*width: 30%;*/
            float: left;
            padding: 10px;
            padding-bottom: 70px;
            text-align: center;
        }
        .config_gr .config img {
            text-align:-webkit-center;
            margin:auto;
        }
        /*footer*/
    .footer_top {
        width: 100%;
        
        margin-bottom: 20px;
    }

        .footer_top .item_footer {
            padding:0;
            float: left;
            
        }
    footer .container p {
        color: white;
        text-transform: uppercase;
        font-size: 10pt;
        padding: 5px;
        text-align: -webkit-center;
    }
}

/*mobile*/

@media screen and (max-width: 480px) {
    .header-top {
        width: 100%;
    }

        .header-top .icons {
            display: none;
        }

        .header-top .container .logo img {
            width: 230%;
        }

    #hot-line-copy {
        display: all;
    }

    /*menu*/
    .menu ul {
        padding-left: 10px;
        padding-top: 20%;
    }

    .menu .navbar span {
        background-color: #888;
    }

    .menu .navbar .container ul li a {
        display: none;
    }

    .menu .navbar button i {
        float: left;
        display: block;
    }

    .show-menu {
        display: none;
    }
    /*slider*/
    .slider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .slider .carousel-inner .item {
            height: auto;
        }

            .slider .carousel-inner .item img {
                max-width: 100%;
                height: auto;
                position: relative;
                top: 15%;
            }

        .slider .note-slider {
            display: none;
        }

        .slider .img-slider img {
            max-width: 100%;
            max-height: 100%;
            padding-top: auto;
        }

    #mySlider .controls {
        display: none;
    }

    .note-slider .btn-detail {
        background-color: blue;
        font-size: 7pt;
        text-align: center;
        cursor: pointer;
    }

    .note-slider .detail {
        max-width: 1em;
        color: black;
        font-size: 7pt
    }

    #mySlider a img {
        height: auto;
        position: absolute;
        top: 0
    }

    /*group products slider*/

    .slider_products, #sliderProducts {
        max-width: 100%;
    }

        .slider_products .carousel-inner {
            max-height: 70px;
            padding-left: 1px;
        }

            .slider_products .carousel-inner .item {
                max-height: 70px;
            }

                .slider_products .carousel-inner .item .item_pro {
                    float: left;
                    padding: 0 10px;
                }

                    .slider_products .carousel-inner .item .item_pro a {
                        text-decoration: none;
                        font-size: 7pt;
                        color: #949494;
                        text-align: center;
                    }

                        .slider_products .carousel-inner .item .item_pro a img {
                            max-width: 100%;
                            height: auto;
                            position: absolute;
                            top: 15%;
                        }

                        .slider_products .carousel-inner .item .item_pro a span {
                            text-align: center;
                        }

        .slider_products .controls {
            display: none;
        }
    /*tin tá»©c*/
    .news {
        max-width: 100%;
        margin: auto;
    }

        .news .img_news {
            width: 100%;
            height: 300px;
            
        }

            .news .img_news img {
                width: 100%;
            }

        .news .content_news {
            width: 100%;
            height: auto;
            padding: 5px;
        }

            .news .content_news .title_news {
                font-size: 11pt;
                color: black;
            }

            .news .content_news span {
                font-size: 7pt;
                color: gray;
            }

            .news .content_news p {
                padding-left: 0;
            }
    /*config item*/
    .config_gr {
        width: 100%;
        text-align: -webkit-center;
    }

        .config_gr span {
            font-size: 9pt;
            font-weight: bold;
        }

        .config_gr .row {
            padding-left: 15px;
        }

        .config_gr .config {
            /*width: 30%;*/
            float: left;
            padding: 5px;
            text-align: -webkit-center;
            padding-bottom: 35px;
            margin:auto;
        }

            .config_gr .config a {
                text-decoration: none;
            }

                .config_gr .config a img {
                    /*height: 50px;*/
                    width: 80px;
                }

            .config_gr .config span {
                padding-top: 5px;
                font-size: 9pt;
                font-weight: bold;
                color: #727272;
            }

        .config_gr p {
            font-size: 9pt;
            padding-left:10px;
        }


    /*footer top*/
    .footer_top {
        display: none;
    }

    .item_mobile_footer {
        display:block;
        padding: 10px;
        width: 100%;
        height: auto;
    }

        .item_mobile_footer a {
            text-transform: uppercase;
            float: left;
            text-align:-webkit-center;
            font-size: 7pt;
            text-decoration: none;
            color: black;
            font-weight:bold;
        }
    /*footer*/
    footer .container p {
        color: white;
        text-transform: uppercase;
        font-size: 7pt;
        padding: 5px;
        font-weight:bold;
        text-align: -webkit-center;
    }
}

@media screen and (max-width: 480px) {
    .menu{
        height:1px;
    }
    .menu .navbar .container .nav {
        padding:0;  
    }

    .menu.responsive {
        position: relative;
        height: auto;
        font-family: ModernHBold;
    }

        /*.menu.responsive .navbar button .icon-bar {
            position: absolute;
            right: 0;
            top: 0;
            background-color:gray;
        }*/

        .menu.responsive .navbar .container ul .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .menu.responsive .navbar .container ul .clearfix:after {
            clear: both;
        }

        .menu.responsive .navbar .container ul .clearfix {
            *zoom: 1;
        }

        .menu.responsive .navbar .container ul li {
            display: block;
            float: none;
            width: 100%;
            border-bottom: solid 1px #eee;
        }

            .menu.responsive .navbar .container ul li a {
                float: none;
                width: 100%;
                display: block;
                text-align: left;
                font-size: 10pt;
                font-weight: bold;
                font-family: -webkit-body;
                text-transform: inherit;
            }


    .menu .nav .open .dropdown-menu {
        padding-top: 10px;
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .menu .nav .open .dropdown-menu li {
        background-color: ;
        float: none;
    }

    .menu .nav .open .dropdown-menu li a {
        text-transform: inherit;
        font-size: 13pt;
        font-weight: 400;
    }

    /*.dropdown-menu {
        display: none !important;
    }*/
    .slider_products p{
        font-size:12pt;
        color:#949494;
        text-align:center;
        font-weight:bold;
    }
    .slider_products .carousel-inner .item .item_pro a img{
        height:44px;
        width:69px;
        padding:1px;
    }
    .slider_products .carousel-inner .item .item_pro a .slogan {
        display: none;
    }
    .slider_products .carousel-inner .item .item_pro a .car_name{
        font-size:6pt;
    }
}
