@{
    ViewBag.Title = "About";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/fonts/ModernH-EcoLight.v1.0.css" rel="stylesheet" />
    <link href="~/fonts/ModernH-Bold.v1.0.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="~/Content/css/Style_About.css" rel="stylesheet" />

</head>
<body>
    <div class="row header-top">
        <div class="container">
            <div class="logo col-md-6 col-xs-6">
                <img src="~/Content/img/logo.png" alt="Huyndai Bắc Ninh" />
            </div>
            <div class="icons col-md-6 col-xs-6">
                <div class="col-md-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/img/icon_1.png" alt="Google Plus" />
                    </a>
                    <a href="#">
                        <img src="~/Content/img/icon_2.png" alt="Facebook" />
                    </a>
                    <a href="#">
                        <img src="~/Content/img/icon_3.png" alt="Youtube" />
                    </a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <span id="hot-line">Hotline: 0987 654 321</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>