
@{
    ViewBag.Title = "Test";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/css/ModernH-Bold.v1.0.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ModernH-EcoLight.v1.0.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .slide .item {
            width: 970px;
            height: 200px;
        }
        .slide .item_pro{
            width:20%;
            height:auto;
        }
            .slide .item .item_pro a img {
                width: 100px;
                height: 100px;
            }

            .slide .row .item .item_pro .car_name {
                font-family: Arial;
                font-size: 12pt;
                color: black;
                font-weight: bold;
            }
    </style>
</head>
<body>
    <div class="menuPro container">
        <ul class="nav nav-tabs">
            <li>
                <a href="#m1" onclick="showM1('m1')">Tất cả</a>
            </li>
            <li>
                <a href="#m2" onclick="showM1('m2')">Xe du lịch</a>
            </li>
            <li>
                <a href="#m3" onclick="showM1('m3')">Xe tải</a>
            </li>
        </ul>
        <div class="tab-content container">
            <div id="m1" class="carousel slide" data-ride="carousel" data-interval="5000" style="display:none">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/sonata.png" class="img-responsive">
                                    <div class="car_name">
                                        Sonnata<br />
                                    </div>
                                </a>
                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/avante.png" class="img-responsive">
                                    <div class="car_name">
                                        Avante<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/GRAND-I10-SEDAN.png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/avt(1).png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/sonata.png" class="img-responsive">
                                    <div class="car_name">
                                        Sonnata<br />
                                    </div>
                                </a>
                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/avante.png" class="img-responsive">
                                    <div class="car_name">
                                        Avante<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/GRAND-I10-SEDAN.png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/avt(1).png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="m2" class="carousel slide" data-ride="carousel" data-interval="5000" style="display:none">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/sonata.png" class="img-responsive">
                                    <div class="car_name">
                                        Sonnata<br />
                                    </div>
                                </a>
                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/avante.png" class="img-responsive">
                                    <div class="car_name">
                                        Avante<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/GRAND-I10-SEDAN.png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/avt(1).png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/gallery_img_6.jpg" class="img-responsive">
                                    <div class="car_name">
                                        Sonnata<br />
                                    </div>
                                </a>
                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/img/avante.png" class="img-responsive">
                                    <div class="car_name">
                                        Avante<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/GRAND-I10-SEDAN.png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                            <div class="item_pro col-xs-4">
                                <a href="">
                                    <img src="~/Content/Hyundai An Phú - Đại lý ủy quyền của Hyundai Thành Công_files/avt(1).png" class="img-responsive">
                                    <div class="car_name">
                                        SantaFe<br />
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showM1(id) {
            var e = document.getElementById(id);
            if (e.style.display == "none") {
                e.style.display = "block";
            } else e.style.display = "none";
        };        
    </script>
</body>
</html>