@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="clearfix"></div>
<div class="slider">
    <div id="mySlider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mySlider" data-slide-to="0" class="active"></li>
            <li data-target="#mySlider" data-slide-to="1"></li>
            <li data-target="#mySlider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="carousel-caption">
                    <div class="note-slider col-xs-6">
                        <strong class="modernhbold">TUCSON</strong>
                        <br>
                        <span class="modernhbold">ĐÁNH THỨC MỌI GIÁC QUAN</span>

                        <div class="detail">
                            Thiết kế tinh xảo với cảm hứng triết lý điêu khắc dòng chảy 2.0
                            <br>
                            Trang bị an toàn, tiện nghi hàng đầu
                        </div>

                        <div>
                            <button type="button" class="btn-detail">CHI TIẾT</button>
                        </div>
                    </div>
                    <div class="img-slider col-xs-6">                       
                        <img src="~/Content/img/banner_car.png" class="img-responsive car_img">
                        
                    </div>
                </div>
                <img src="~/Content/img/banner.png" alt="" class="img-responsive">
            </div>
            <div class="item">
                <div class="carousel-caption">
                    <div class="note-slider col-xs-6">
                        <strong class="modernhbold">TUCSON</strong>
                        <br>
                        <span class="modernhbold">ĐÁNH THỨC MỌI GIÁC QUAN</span>
                        
                        <div class="detail">
                            Thiết kế tinh xảo với cảm hứng triết lý điêu khắc dòng chảy 2.0
                            <br>
                            Trang bị an toàn, tiện nghi hàng đầu
                        </div>
                       
                        <div>
                            <button type="button" class="btn-detail">CHI TIẾT</button>
                        </div>
                    </div>
                    <div class="img-slider col-xs-6">
                        <img src="~/Content/img/banner_car.png" class="img-responsive">
                    </div>
                </div>
                <img src="~/Content/img/banner.png" alt="" class="img-responsive">
            </div>
            <div class="item">
                <div class="carousel-caption">
                    <div class="note-slider col-xs-6">
                        <strong class="modernhbold">TUCSON</strong>
                        <br>
                        <span class="modernhbold">ĐÁNH THỨC MỌI GIÁC QUAN</span>

                        <div class="detail">
                            Thiết kế tinh xảo với cảm hứng triết lý điêu khắc dòng chảy 2.0
                            <br>
                            Trang bị an toàn, tiện nghi hàng đầu
                        </div>

                        <div>
                            <button type="button" class="btn-detail">CHI TIẾT</button>
                        </div>
                    </div>
                    <div class="img-slider col-xs-6">
                        <img src="~/Content/img/banner_car.png" class="img-responsive">
                    </div>
                </div>
                <img src="~/Content/img/banner.png" alt="" class="img-responsive">
            </div>
        </div>

        <!-- Controls -->
        <div class="controls">
            <a class="left " href="#mySlider" role="button" data-slide="prev">

            </a>
            <a class="right " href="#mySlider" role="button" data-slide="next">

            </a>
        </div>
    </div>
</div>
<!-- <div class="clearfix"></div> -->
<div class="slider_products">
    <p style="font-size: 19pt;color: #949494;text-align: center;font-weight:bold;font-family:ModernHBold">Sản phẩm nổi bật</p>
    <br>
    <div id="myProducts" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
            <li data-target="#myProducts" data-slide-to="0" class="active"></li>
            <li data-target="#myProducts" data-slide-to="1"></li>
        </ol>*@
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/sonata.png" class="img-responsive">
                            <div class="car_name">
                                Sonnata<br />
                            </div>
                            <div class="slogan">
                                Đẳng cấp doanh nhân tiên phong
                            </div>
                            @*<span class="car_name">Sonnata</span>
                            <span</span>*@
                        </a>
                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/avante.png" class="img-responsive">
                            <div class="car_name">
                                Avante<br />
                            </div>
                            <div class="slogan">
                                Sự lựa chọn đầu tiên và mãi mãi
                            </div>
                            @*<span class="car_name"></span><br />
                            <span class="slogan"></span>*@
                        </a>

                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/santaFe.png" class="img-responsive">
                            <div class="car_name">
                                SantaFe<br />
                            </div>
                            <div class="slogan">
                                Kiêu hãnh dẫn đầu
                            </div>
                            
                        </a>

                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/grandi10.png" class="img-responsive">
                            <div class="car_name">
                                Grand i10<br />
                            </div>
                            <div class="slogan">
                                Nhấn nút khởi động cuộc sống
                            </div>
                            
                        </a>
                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/santaFe_copy.png" class="img-responsive">
                            <div class="car_name">
                                SantaFe<br />
                            </div>
                            <div class="slogan">
                                Kiêu hãnh dẫn đầu
                            </div>
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/sonata.png" class="img-responsive">
                            <div class="car_name">
                                Sonnata<br />
                            </div>
                            <div class="slogan">
                                Đẳng cấp doanh nhân tiên phong
                            </div>
                            @*<span class="car_name">Sonnata</span>
                <span</span>*@
                        </a>
                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/avante.png" class="img-responsive">
                            <div class="car_name">
                                Avante<br />
                            </div>
                            <div class="slogan">
                                Sự lựa chọn đầu tiên và mãi mãi
                            </div>
                            @*<span class="car_name"></span><br />
                <span class="slogan"></span>*@
                        </a>

                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/santaFe.png" class="img-responsive">
                            <div class="car_name">
                                SantaFe<br />
                            </div>
                            <div class="slogan">
                                Kiêu hãnh dẫn đầu
                            </div>

                        </a>

                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/grandi10.png" class="img-responsive">
                            <div class="car_name">
                                Grand i10<br />
                            </div>
                            <div class="slogan">
                                Nhấn nút khởi động cuộc sống
                            </div>

                        </a>
                    </div>
                    <div class="item_pro col-xs-3">
                        <a href="">
                            <img src="~/Content/img/santaFe_copy.png" class="img-responsive">
                            <div class="car_name">
                                SantaFe<br />
                            </div>
                            <div class="slogan">
                                Kiêu hãnh dẫn đầu
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <a class="left " href="#myProducts" role="button" data-slide="prev">
            </a>
            <a class="right " href="#myProducts" role="button" data-slide="next">
            </a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="news container">
    <div class="img_news">
        <button type="button" class="btn-news">Tin tức </button>
    </div>
    <div class="content_news">
        <p class="title_news">Huyndai i20 Active chính thức ra mắt thị trường Việt Nam</p>
        <span>Tin tức chung, 8/3/2015</span>
        <br>
        <p>Huyndai Thành Công chính thức giới thiệu i20 Active đến thị trường Việt Nam-I20 sở hữu thiết kế cùng những tính năng</p>
        <hr style="border-top: 1pt solid #a6aaab">
        <p>Huyndai i20 Active chính thức ra mắt thị trường Việt Nam</p>
        <hr style="border-top: 1pt solid #a6aaab">
        
        <p>Huyndai i20 Active chính thức ra mắt thị trường Việt Nam</p>
        <span>Tin tức chung, 8/3/2015</span>
        <hr style="border-top: 1pt solid #a6aaab">
    </div>
</div>
<div class="clearfix"></div>
<div class="container config_gr">
    <span>Dịch vụ chăm sóc, bán hàng chuyên nghiệp phục vụ <strong style="font-size:24pt">24/7</strong></span>
    <div class="row">
        <div class="config col-xs-4">
            <a href="">
                <img src="~/Content/img/config_1.png" class="img-responsive">
                <span class="title_config">&nbsp;Chương trình dịch vụ</span>
            </a>
        </div>
        <div class="config col-xs-4">
            <a href="">
                <img src="~/Content/img/config_2.png" class="img-responsive">
                <span class="title_config">&nbsp;Chính sách bảo hành</span>
            </a>
        </div>
        <div class="config col-xs-4">
            <a href="">
                <img src="~/Content/img/config_3.png" class="img-responsive">
                <span class="title_config">&nbsp;Phụ tùng & phụ kiện</span>
            </a>
        </div>
    </div>
    <p>Hyundai Bắc Ninh  .Tổ 54, Tp.Bắc Ninh, </p>
    <hr style="border-top: 1pt solid #a6aaab">
</div>
<div class="clearfix"></div>
